.row{
    display: flex;
    justify-content: space-between;
}
.comments{
    margin-bottom: 30px;
    font-size: 18px;
}
.comment{
    width: calc(50% - 25px);
}
.comment__title{
    margin-bottom: 14px;
    font-size: 45px;
}
.comment__text{
    font-size: 22px;
}