.footer-nav-wrapper{
    margin: 0 auto;
    height: 25px;
    width: 442px;
}

.nav_theme-dark{
    height: 25px;
    width: 442px;
}

.nav_theme-dark .nav__link{
    margin-right: 50px;
    margin-left: 0;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    transition: 0.5s;
    display: inline-block;
}

.nav_theme-dark .nav__link:nth-last-child(1){
    margin: auto;
}

.nav_theme-dark .nav__link:hover{
    opacity: 0.5;
}

.footer-text{
    margin-top: 87px;
    text-align: center;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    opacity: 0.5;
}