footer{
    background-color: #121212;
}

.footer-nav-wrapper{
    margin-bottom: 87px;
    display: flex;
    justify-content: center; 
}
@media (max-width: 767px) {
    .footer-nav-wrapper{
        margin-bottom: 31px
    }
}

.nav_theme-dark{
    display: flex;
    gap: 35px;
    height: 35px;
     
}
@media (max-width: 767px) {
    .nav_theme-dark{
        gap: 10px;
        height: 35px;
    }
}

.nav_theme-dark .nav__link{
    padding: 10px 10px 0 10px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    transition: 0.5s;
}
@media (max-width: 767px) {
    .nav_theme-dark .nav__link{
        font-size: 12px;
    }
}

.nav_theme-dark .nav__link:hover{
    opacity: 0.5;
    border-bottom: 1px solid #fff;
}

.footer-text{
    text-align: center;
    color: #fff;
    font-size: 20px;
    opacity: 0.5;
}
@media (max-width: 767px) {
    .footer-text{
        font-size: 13px;
    }
}