.gallery{
    position: relative;
}
.gallery__title{
    position: absolute;
    top: 30px;
    left: 40px;
    z-index: 1;
    color: white;
    font-size: 22px;
}
.gallery__parag{
    position: absolute;
    left: 70px;
    bottom: 110px;
    z-index: 1;
    color: white;
    font-size: 30px;
}
.gallery__slides{
    height: 717px;
    position: relative;
}
.gallery__slide{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;    
}
.gallery__slide_active{
    opacity: 1;
}
.gallery__controls{
    position: absolute;
    z-index: 1;
    bottom: 25%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 1200px;
}