.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__img {
    height: 21.42px;
    width: 126.889px;
    background-size: cover;
    background-repeat: no-repeat;
}
@media (max-width: 767px) {
    .logo__img {
        height: 16px;
        width: 96px;
    }
}

.nav {
    display: flex;
    gap: 50px;
}
    
.nav__link {
    padding: 5px;
    text-decoration: none;
    color: #121212; 
    transition: 0.5s;
}
.nav__link:hover {
    opacity: 0.5;
    border-bottom: 1px solid #121212 ;
}