header{
    margin: 0 auto; 
    padding: 33px 124px 70px 124.65px ;
    width: 1400px;
    height: 128px;
    background-color: #fff;
    padding-left: 125px;
    padding-right: 125px;
}

.logo-wrapper{
    margin-right: 548px;
    display: inline-block;
}

.logo__img{
    height: 21.42px;
    width: 126.889px;
    background-size: cover;
    background-repeat: no-repeat;
}
.logo__link{
    height: 21.42px;
    width: 126.889px;
}

.nav{
    display: inline-block;
    font-size: 18px;
    line-height: 24.59px;
    height: 25px;
    font-weight: 400;
}

.nav__link{
    display: inline-block;
    margin-left: 58px;
    text-decoration: none;
    color: #121212; 
    transition: 0.5s;
}
.nav__link:first-child{
    margin-left: 0;
}
.nav__link:hover{
    opacity: 0.5;
    border-bottom: 1px solid #121212 ;
}