@media (max-width: 1199px) {
    .container{
        width: 100%;
        padding-left: 17px;
        padding-right: 15px;
    }
    h1{
        width: 100%;
        font-size: 50px;
        line-height: normal;
    }
    .preview{
        margin-bottom: 120px;
        height: 400px;
    }
    .preview__text{
        bottom: 30px;
    }
    h2{
        width: 100%;
        font-size: 18px;
    }
    h3{
        width: 100%;
        font-size: 35px;
        line-height: 48px;
        padding-right: 250px;
    }
    .link{
        margin-bottom: 120px;
    }
    .item__project-img{
        height: 450px;
    }
    .item__description{
        margin-bottom: 10px;
        font-size: 25px;
        line-height: normal;
    }
    .item__link{
        margin-bottom: 80px;
    }
    .item__link:nth-last-of-type(1){
        margin-bottom: 102px;
    }
    .see-all{
        margin-bottom: 103px;
    }
}
@media (max-width: 767px) {
    .container{
        width: 100%;
        padding-left: 13px;
        padding-right: 12px;
    }
    h1{
        margin-bottom: 25px;
        width: 100%;
        font-size: 30px;
        line-height: 31.6px;
    }
    .preview{
        margin-bottom: 80px;
        height: 304px;
    }
    .preview__text{
        left: 15px;
        bottom: 15px;
        width: 240px;
    }
    p{
        width: 100%;
        font-size: 16px;
        line-height: normal;
    }
    h2{
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 20px;
    }
    h3{
        width: 100%;
        font-size: 22px;
        line-height: 30px;
        padding: 0;
    }
    .link{
        margin-bottom: 80px;
        height: 51px;
        width: 194px;
        padding-bottom: 15.21px;
        padding-top: 15.21px;
    }
    .item__project-img{
        margin-bottom: 20px;
        height: 250px;
    }
    .item__description{
        margin-bottom: 11px;
        font-size: 18px;
        height: 25px;
    }
    .item__link{
        margin-bottom: 49px;
        font-size: 16px;
        height: 22px;
        line-height: 22px;
    }
    .item__link:nth-last-of-type(1){
        margin-bottom: 60px;
    }
    .see-all{
        height: 100px;
        padding-bottom: 37px;
        padding-top: 37px;
    }
    .see-all{
        margin-bottom: 144px;
    }
    .see__text{
        font-size: 22px;
    }
}