.H2{
    margin-bottom: 30px;
    color: #FFFFFF;
}
@media (max-width: 767px) {
    .H2{
        width: 100%;
        font-size: 14px;
    }
}

.services-wrapper{
    margin-bottom: 106px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 85px;
    justify-content: space-between;
}
@media (max-width: 1199px) {
    .services-wrapper{
        margin-bottom: 80px;
        row-gap: 80px;
    }
}
@media (max-width: 767px) {
    .services-wrapper{
        margin-bottom: 60px;
        row-gap: 60px;
    }
}

.service{
    width:calc(50% - 5.5px);
}
@media (max-width: 767px) {
    .service{
        width: 100%;
    }
}

.img-container{
    position: relative;
}

.service__img{
    width: 100%;
    margin-bottom: 20px;
    object-fit: cover;
}
@media (max-width: 1199px) {
    .service__img{
        margin-bottom: 15px;
    }
}
@media (max-width: 767px) {
    .service__img{
        margin-bottom: 10px;
    }
}

.label-wrapper{
    position: absolute;
    top: 32px;
    left: 30px;
}
@media (max-width: 1199px) {
    .label-wrapper{
        left: 32px;
    }
}
@media (max-width: 767px) {
    .label-wrapper{
       left: 24px;
       top: 23px;
    }
}

.label{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    border-radius: 5px;
    background-color: #AD1818;
}
@media (max-width: 1199px) {
    .label{
        padding: 0 25px;
    }
}
@media (max-width: 767px) {
    .label{
       height: 30px;
       padding: 0 25px;
    }
}

.label__text{
    font-size: 22px;
    color: #FFFFFF;
}
@media (max-width: 1199px) {
    .label__text{
        font-size: 20px;
    }
}
@media (max-width: 767px) {
    .label__text{
       font-size: 14px;
    }
}

.service__description{
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;
}
@media (max-width: 1199px) {
    .service__description{
        font-size: 25px;
    }
}
@media (max-width: 767px) {
    .service__description{
        font-size: 18px;
        line-height: 31px;
    }
}

.botton-wrapper_dark{
    margin-bottom: 0;
}

.full-wigth-botton_dark{
    width: 100%;
}
.full-wigth-botton__link_dark{
    display: block;
    width: 100%;
    height: 149px;
    border: 1px solid #AD1818;
    border-radius: 5px;
    text-align: center;
    color: #FFFFFF;
    background-color: #AD1818;
    text-decoration: none;
    padding-top: 56px;
    padding-bottom: 56px;
    transition: 0.5s;
}
@media (max-width: 767px) {
    .full-wigth-botton__link{
        height: 100px;
        padding-bottom: 37px;
        padding-top: 37px;
    }
}
.full-wigth-botton__text_dark{
    font-size: 30px;
}
@media (max-width: 767px) {
    .full-wigth-botton__text{
        font-size: 22px;
    }
}
.full-wigth-botton__link_dark:hover{
    background-color: #121212;
    color: #AD1818;
}