.section-black{
    background-color:#121212;;
    width: 100%;
    padding-top: 151px;
}
.container-black{
    width: 1150px;
    margin: 0 auto;
}
.H2{
    margin-bottom: 30px;
    color: #FFFFFF;
}
.services-wrapper{
    display: flex;
    flex-wrap: wrap;
    row-gap: 70px;
}
.service{
    width:calc(50% - 5.5px);
}
.service__description{
    width: 400;
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;
}
.service__img{
    width: 100%;
    margin-bottom: 15px;
    display: block;
    object-fit: cover;
}